*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
   /* font-family: 'Poppins', sans-serif; */
}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius: 5px;
    border: none;
    font-style: normal;
    padding: 18px 35px;
    font-weight: 700; 
    font-size: 20px;
    color: #FFFFFF;
  
}
.header{
    background: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position:   bottom right,left;
    padding-top: 50px;
}
/* header and navigation styles */
 nav{
    display: flex; 
    justify-content: space-between;
    /* margin: 50px 200px;  */
    margin-left: 200px;
    margin-right: 200px;
}
nav li{
    list-style: none;
    margin-left: 50px;
    /* position: absolute; */
    /* width: 189px;
    height: 27px; */
    /* left: 980px; */
   
}
nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 45px;
    line-height: 61px;

}
/* banner styles */

.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner-sub-title{
    font-size: 45px;
    font-weight: 600;
    line-height: 61px; 
    margin-bottom: 5px;
}
.banner-title{
    font-style: normal;
    font-weight: 700;
    font-size: 85px;
    line-height: 116px;
    color: #181818;
    margin-bottom: 20px;
}
.banner-description{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;

}
/* main-section */
main{
    min-width: 1140px;
    margin: 0 auto;
}
/* about section styles */
.about-me{
     
      margin: 130px 230px ;
      background: #FFF8F3;
      border-radius: 10px;
      padding: 130px 150px;
}
.section-title{
     text-align: center;
     margin-bottom: 30px;
     font-weight: 700;
     font-size: 35px;
     line-height: 48px;

}
.section-description{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #757575;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-me .info-title{
  
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #757575;
}
.about-info .info-description{

}